<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" sizes="20x20" href="/assets/logo-king-color.png">
        <link rel="stylesheet" href="/styles.css">
        <title> Kingpneus</title>
        
    </head>
    <body>

        <header>
            <img  class="logo" src="/assets/logo-king-color.png" alt="logo">
            <div class="search-box">
                <input type="text" placeholder="Pesquise por pneus">
                <div class="search-bnt">
                    <button class="search-bnt"><img src="/assets/Vector.png" alt=""></button>
                </div>
            </div>
            <nav>
                <ul class="nav_links">
                    <li><img src="/assets/login-icone.png" alt=""><a href="#">Login</a></li>
                    <li><img src="/assets/shop-icone.png" alt=""><a href="#">Carrinho</a></li>
                    <li><img src="/assets/sacola.png" alt=""><a href="#">Pedidos</a></li>
                </ul>
            </nav>
            <a href="#"><img class="menu" src="/assets/hamburguer-menu.png" alt="menu"></a>
        </header>

        {%block content %}
        
        {% endblock %}
    
    <footer>
        <div class="king-pneus-bio">
            <div class="container-footer">
                <div class="links-uteis">
                    <h1>Links Úteis</h1>
                    <ul>
                        <li><a href="">central de ajuda</a></li>
                        <li><a href="">trocas</a></li>
                        <li><a href="">garantia</a></li>
                        <li><a href="">nossas marcas</a></li>
                    </ul>
                </div>
                <div class="descricao-king">
                <h1>sobre nós</h1>
                    <ul>
                        <li><a href="">quem somos</a></li>
                        <li><a href="">meus pedidos</a></li>
                        <li><a href="">perguntas frequentes</a></li>
                    </ul>
                </div>
                <div class="atendimento">
                    <h1>atendimento</h1>
                    <ul>
                        <li><img src="/assets/contato.png" alt=""> <a href="">(62) 3983-2735</a></li>
                        <li><img src="/assets/horario.png" alt=""> <a href="">seg. à sáb. das 9h às 18h</a></li>
                        <li><img src="/assets/mensagem.png" alt=""> <a href="">sac@kingpneus.com</a></li>
                    </ul>
                </div>
                <div class="pagamentos">
                    <h1>Forma de pagamento</h1>
                    <div class="opcao-01">
                        <ul>
                        <li><img src="/assets/visa.png" alt=""></li>
                        <li><img src="/assets/master.png" alt=""></li>
                        <li><img src="/assets/elo.png" alt=""></li>
                        <li><img src="/assets/elo.png" alt=""></li>
                        </ul>
                    </div>
                    <div class="opcao-02">
                        <ul>
                        <li><img src="/assets/hiper.png" alt=""></li>
                        <li><img src="/master/amex.png" alt=""></li>
                        <li><img src="/assets/diners.png" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="rodape">
            <div class="redes-socais">
                <ul>
                    <li><a href=""><img src="/assets/instagram.png" alt="instagram">@instagram</a></li>
                    <li><a href=""><img src="/assets/facebook.png" alt="facebook">/facebook</a></li>
                    <li><a href=""><img src="/assets/youtube.png" alt="youtube">youtube</a></li>
                </ul>
            </div>
            <div class="logo-rodape">
                <img src="/assets/logo-rodape.png" alt="logo">
            </div>
            <div class="direitos">
                <p>King Tires Imports. LTDA. Todos direitos reservados</p>
            </div>
            
        </div>
    </footer> 
    </body>
</html>